Repository altai-ui/qui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

add emoji
  README.md
Due: none

Update README.md
  README.md
Due: none

update readme
  README.md
Due: none

up v
  package.json
Due: prettier --parser json --write

new import api & fix bugs
  .storybook/preview.js
  src/qComponents/QCollapse/src/q-collapse.scss
  src/qComponents/QForm/src/q-form.scss
  src/qComponents/QTable/src/q-table.scss
  src/qComponents/helpers/index.js
  src/qComponents/index.js
Due: prettier --write, stylelint --fix

refactoring
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderMenu.vue
  src/qComponents/QDatePicker/src/basic/month-table.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

update doc
  README.md
  src/qComponents/QOption/src/q-option.scss
  src/qComponents/index.js
Due: prettier --write, stylelint --fix

remove white bg under loader
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix

remove loader bg
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix

add icon
  src/icons/config.json
  src/icons/index.scss
  src/icons/qicon.woff
  src/icons/svg/key.svg
  stories/core/icons.stories.mdx
Due: prettier --write, stylelint --fix, prettier --parser json --write

delete config.json
  src/icons/config.json
Due: prettier --parser json --write

order icon rules
  src/icons/index.scss
Due: prettier --write, stylelint --fix

change color
  src/icons/svg/key.svg
Due: none

fix qtable height updates
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

update setup
  .gitignore
  README.md
  babel.config.js
  package.json
  src/components.scss
  src/main.scss
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/constants/locales/en.js
  src/qComponents/constants/locales/index.js
  src/qComponents/constants/locales/ru.js
  src/qComponents/constants/localizationConfig.js
  src/qComponents/index.js
  src/qComponents/onDemand.js
  src/transition.scss
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

update v
  README.md
  package.json
Due: prettier --parser json --write

fix for review
  package.json
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/basic/date-table.vue
  stories/components/QDatePicker.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

add error
  src/qComponents/constants/locales/index.js
Due: prettier --write

delete readme field
  package.json
Due: prettier --parser json --write

move onDemand
  README.md
  src/onDemand.js
Due: prettier --write

bump v
  package.json
Due: prettier --parser json --write

add modals to prototype
  README.md
  src/qComponents/index.js
  stories/components/QNotification.stories.js
Due: prettier --write

revert qnotification chanhes
  stories/components/QNotification.stories.js
Due: prettier --write

fix for review
  .gitignore
  README.md
  src/qComponents/index.js
Due: prettier --write

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --parser yaml --write

fix base-path in qTable styles
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser vue --write: any of: *.vue
  eslint --fix --no-ignore: any of: *.vue
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
