Repository altai-ui/qui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.vue": [
    "stylelint --fix",
    "prettier --parser vue --write",
    "eslint --fix --no-ignore",
    "git add"
  ],
  "{*.json,.*rc}": ["prettier --parser json --write", "git add"],
  "*.{yaml,yml}": ["prettier --parser yaml --write", "git add"]
}

fix qTable loader position, fix qTable initial loading
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix static width of column in table
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

remove qtables inital loader
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

wip
  .storybook/locales/en.js
  .storybook/locales/index.js
  .storybook/locales/ru.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  package.json
  stories/components/QBreadcrumbs.stories.js
  yarn.lock
Due: prettier --write, prettier --parser json --write

update stories
  .storybook/locales/index.js
  .storybook/preview.js
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  stories/components/QBreadcrumbs.stories.js
  stories/components/QCascader.stories.js
  stories/components/QCheckbox.stories.js
  stories/components/QCheckboxGroup.stories.js
  stories/components/QDatePicker.stories.js
  stories/components/QDatePicker/DateTime.js
  stories/components/QDatePicker/Default.js
  stories/components/QDatePicker/QDatePicker.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix loader
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix loading animations
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

wip
  src/qComponents/QDatePicker/src/basic/year-table.vue
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QForm/src/QForm.vue
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  stories/components/QCascader.stories.js
  stories/components/QDatePicker/DateRange.js
  stories/components/QDatePicker/DateTime.js
  stories/components/QDatePicker/DateTimeRange.js
  stories/components/QDatePicker/Month.js
  stories/components/QDatePicker/MonthRange.js
  stories/components/QDatePicker/QDatePicker.stories.js
  stories/components/QDatePicker/Year.js
  stories/components/QDatePicker/YearRange.js
  stories/components/QDialog/QDialog.stories.js
  stories/components/QDrawer.stories.js
  stories/components/QInputNumber.stories.js
  stories/components/QMessageBox/QMessageBox.stories.js
  stories/components/QNotification.stories.js
  stories/components/QPagination.stories.js
  stories/components/QPopover.stories.js
  stories/components/QRadio.stories.js
  stories/components/QScrollbar/QScrollbar.stories.js
  stories/components/QScrollbar/q-scrollbar.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

edit stories
  stories/components/QSelect.stories.js
  stories/components/QSelect/Default.js
  stories/components/QSelect/Multiple.js
  stories/components/QSelect/QSelect.stories.js
Due: prettier --write

update icons font file
  src/icons/qicon.woff
Due: none

add toolbar
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write, prettier --parser json --write

fixes
  .storybook/preview.js
Due: prettier --write

fix QTable Content menu
  stories/components/QTable.stories.js
Due: prettier --write

add unit tests settings
  .eslintrc
  babel.config.js
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/favicon.png
  coverage/index.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  jest.config.js
  package.json
  tests/unit/QTable.test.js
  tests/unit/__snapshots__/QTable.test.js.snap
  tests/unit/setup.js
  yarn.lock
Due: prettier --write, prettier --parser json --write

fixes
  .storybook/locales/en.js
  .storybook/locales/index.js
  .storybook/locales/ru.js
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  stories/components/QBreadcrumbs.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

bump v
  package.json
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

Reset query on hidePopper and use cached options
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Reset query on hidePopper and use cached options (#17)
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix defining global
  src/onDemand.js
  src/qComponents/index.js
Due: prettier --write

fix defining global (#18)
  src/onDemand.js
  src/qComponents/index.js
Due: prettier --write

fix cascader panel width
  src/qComponents/QCascader/src/q-cascader.scss
Due: prettier --write, stylelint --fix

destroy popper before unmount
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QTimePicker/src/QTimePicker.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Small fixes (#19)
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QTimePicker/src/QTimePicker.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

bump v
  package.json
Due: prettier --parser json --write

remove panel el from body
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QTimePicker/src/QTimePicker.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Bugfix/remove poppers from body (#20)
  package.json
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QTimePicker/src/QTimePicker.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

fix option condition
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

do not return new option if create is not allowed
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QSelect] Do not return newOption, if creation is not allowed (#21)
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Update README.md
  README.md
Due: none

do not drop selected if key equals value key
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix qcontextmenu selfclose
  src/qComponents/QContextMenu/src/QContextMenu.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add getKey
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add transform-stub
  jest.config.js
  package.json
  tests/unit/__snapshots__/QTable.test.js.snap
  yarn.lock
Due: prettier --write, prettier --parser json --write

Add unit tests (#24)
  .eslintrc
  .github/workflows/codeql-analysis.yml
  .gitignore
  jest.config.js
  package.json
  tests/unit/QTable.test.js
  tests/unit/__snapshots__/QTable.test.js.snap
  tests/unit/setup.js
  yarn.lock
Due: prettier --write, prettier --parser json --write, prettier --parser yaml --write

fix blink selectedLabel
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QSelect] do not drop selected if key equals value key (#22)
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix qcontextmenu selfclose (#23)
  src/qComponents/QContextMenu/src/QContextMenu.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore
