Repository altai-ui/qui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

fix precision
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add stick-to-steps
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton/index.vue
  src/qComponents/QRangeSelector/src/q-range-selector.scss
  stories/components/QRangeSelector.stories.js
  stories/components/QRangeSelector/Breakpoints.js
  stories/components/QRangeSelector/Default.js
  stories/components/QRangeSelector/QRangeSelector.stories.js
  stories/components/QRangeSelector/Range.js
  stories/components/QRangeSelector/StickToSteps.js
  stories/components/QRangeSelector/Vertical.js
  stories/components/QRangeSelector/WithoutTooltip.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add captions
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/q-range-selector.scss
  stories/components/QRangeSelector/Captions.js
  stories/components/QRangeSelector/QRangeSelector.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix some formulas
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton/index.vue
  src/qComponents/QRangeSelector/src/q-range-selector.scss
  src/vars.scss
  stories/components/QRangeSelector/Captions.js
  stories/components/QRangeSelector/QRangeSelector.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton/index.vue
  src/qComponents/QRangeSelector/src/q-range-selector.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix: prevent icons bouncing
  .nvmrc
  .prettierignore
  src/icons/index.scss
  src/icons/qicon.woff
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix, prettier --parser json --write

QRangeSelector - preparation for review
  src/qComponents/QColorPicker/__snapshots__/QPickerDropdown.test.js.snap
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorBar/index.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton/index.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorCaptions/index.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorSteps/index.vue
  src/qComponents/QRangeSelector/src/q-range-selector.scss
  stories/components/QRangeSelector/Breakpoints.js
  stories/components/QRangeSelector/Captions.js
  stories/components/QRangeSelector/Default.js
  stories/components/QRangeSelector/Disabled.js
  stories/components/QRangeSelector/QRangeSelector.stories.js
  stories/components/QRangeSelector/Vertical.js
  stories/components/QRangeSelector/WithoutTooltip.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QRangeSelector - add props description
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix: change icon font symbol in input and textarea
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QTextarea/src/q-textarea.scss
Due: prettier --write, stylelint --fix

QRangeSelector - правки по условиям
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix: prevent icons bouncing (#82)
  .nvmrc
  .prettierignore
  src/icons/index.scss
  src/icons/qicon.woff
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QTextarea/src/q-textarea.scss
Due: prettier --write, stylelint --fix, prettier --parser json --write

QRangeSelector - правки перед ревью
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton/index.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorCaptions/index.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - rename
  src/components.scss
  src/qComponents/QRangeSelector/index.js
  src/qComponents/QSlider/index.js
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/SliderBar/index.vue
  src/qComponents/QSlider/src/components/SliderButton/index.vue
  src/qComponents/QSlider/src/components/SliderCaptions/index.vue
  src/qComponents/QSlider/src/components/SliderSteps/index.vue
  src/qComponents/QSlider/src/q-slider.scss
  src/qComponents/index.js
  stories/components/QSlider/Breakpoints.js
  stories/components/QSlider/Captions.js
  stories/components/QSlider/Default.js
  stories/components/QSlider/Disabled.js
  stories/components/QSlider/QSlider.stories.js
  stories/components/QSlider/Range.js
  stories/components/QSlider/Vertical.js
  stories/components/QSlider/WithoutTooltip.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - SliderCaptions fix
  src/qComponents/QSlider/src/components/SliderCaptions/index.vue
  src/qComponents/QSlider/src/q-slider.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix style
  src/qComponents/QSlider/src/q-slider.scss
Due: prettier --write, stylelint --fix

QSlider - fix
  src/qComponents/QColorPicker/__snapshots__/QPickerDropdown.test.js.snap
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix barStyle
  src/qComponents/QSlider/src/components/SliderBar/index.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix getNearestButton
  src/qComponents/QSlider/src/QSlider.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - add prefix
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderSteps/index.vue
  src/qComponents/QSlider/src/q-slider.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix --box-shadow-line
  src/qComponents/QSlider/src/q-slider.scss
  src/vars.scss
Due: prettier --write, stylelint --fix

QSlider - fix precision
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix $parent in QSliderButton
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix $parent
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderSteps/index.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - styles
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/q-slider.scss
  src/qComponents/QSlider/src/styles/q-slider-bar.scss
  src/qComponents/QSlider/src/styles/q-slider-button.scss
  src/qComponents/QSlider/src/styles/q-slider-captions.scss
  src/qComponents/QSlider/src/styles/q-slider-steps.scss
  src/qComponents/QSlider/src/styles/q-slider.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fixed tooltip display when dragging
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/styles/q-slider-bar.scss
  src/qComponents/QSlider/src/styles/q-slider-button.scss
  src/vars.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix shadow styles
  src/qComponents/QSlider/src/styles/q-slider-steps.scss
  src/qComponents/QSlider/src/styles/q-slider.scss
  stories/components/QSlider/QSlider.stories.js
Due: prettier --write, stylelint --fix

QSlider - fix firefox focus styles
  src/normalize.scss
Due: prettier --write, stylelint --fix

QSlider - fix
  src/qComponents/QSlider/src/styles/q-slider-button.scss
  src/qComponents/QSlider/src/styles/q-slider-steps.scss
  src/qComponents/QSlider/src/styles/q-slider.scss
  stories/components/QSlider/Range.js
Due: prettier --write, stylelint --fix

QSlider - fix by comments
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderSteps/index.vue
  src/qComponents/QSlider/src/q-slider.scss
  src/qComponents/QSlider/src/styles/q-slider-steps.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix by comments
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/styles/q-slider.scss
  stories/components/QSlider/Breakpoints.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider - fix stories
  stories/components/QSlider/Breakpoints.js
  stories/components/QSlider/Captions.js
  stories/components/QSlider/Disabled.js
  stories/components/QSlider/Range.js
  stories/components/QSlider/Vertical.js
  stories/components/QSlider/WithoutTooltip.js
Due: prettier --write

QSlider - watch for range property
  src/qComponents/QSlider/src/QSlider.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QSlider] add slider (#80)
  src/components.scss
  src/normalize.scss
  src/qComponents/QSlider/index.js
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderSteps/index.vue
  src/qComponents/QSlider/src/q-slider.scss
  src/qComponents/QSlider/src/styles/q-slider-bar.scss
  src/qComponents/QSlider/src/styles/q-slider-button.scss
  src/qComponents/QSlider/src/styles/q-slider-captions.scss
  src/qComponents/QSlider/src/styles/q-slider-steps.scss
  src/qComponents/QSlider/src/styles/q-slider.scss
  src/qComponents/index.js
  src/vars.scss
  stories/components/QSlider/Breakpoints.js
  stories/components/QSlider/Captions.js
  stories/components/QSlider/Default.js
  stories/components/QSlider/Disabled.js
  stories/components/QSlider/QSlider.stories.js
  stories/components/QSlider/Range.js
  stories/components/QSlider/Vertical.js
  stories/components/QSlider/WithoutTooltip.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider:
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderSteps/index.vue
  src/qComponents/QSlider/src/styles/q-slider.scss
  stories/components/QSlider/DateType.js
  stories/components/QSlider/QSlider.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider:
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  stories/components/QSlider/DateType.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QSlider: fix comments
  stories/components/QSlider/DateType.js
Due: prettier --write

Update README.md
  README.md
Due: none

Deploy Storybook to GitHub Pages
  3.8ce646040dc036a2fb36.bundle.js
  3.8ce646040dc036a2fb36.bundle.js.map
  4.8ce646040dc036a2fb36.bundle.js
  4.8ce646040dc036a2fb36.bundle.js.map
  favicon.ico
  iframe.html
  index.html
  main.8ce646040dc036a2fb36.bundle.js
  main.8ce646040dc036a2fb36.bundle.js.map
  main.fd326712fdd2dbfe6575.bundle.js
  runtime~main.870e8ee0658e83d05c6b.bundle.js
  runtime~main.8ce646040dc036a2fb36.bundle.js
  runtime~main.8ce646040dc036a2fb36.bundle.js.map
  static/media/Gilroy-Bold.5fb38b9f.woff
  static/media/Gilroy-ExtraBold.cb761043.woff
  static/media/Gilroy-Medium.2bc7f5d7.woff
  static/media/Gilroy-Regular.31d54a4b.woff
  static/media/empty-table-v2.1d51b90b.svg
  static/media/qicon.81afa424.woff
  static/media/qui-logo.1f5691bc.svg
  vendors~main.8ce646040dc036a2fb36.bundle.js
  vendors~main.8ce646040dc036a2fb36.bundle.js.LICENSE.txt
  vendors~main.8ce646040dc036a2fb36.bundle.js.map
  vendors~main.ff1f22c42fec9897cd38.bundle.js
  vendors~main.ff1f22c42fec9897cd38.bundle.js.LICENSE.txt
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser vue --write: any of: *.vue
  eslint --fix --no-ignore: any of: *.vue
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
