Repository altai-ui/qui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.vue": [
    "stylelint --fix",
    "prettier --parser vue --write",
    "eslint --fix --no-ignore",
    "git add"
  ],
  "{*.json,.*rc}": ["prettier --parser json --write", "git add"],
  "*.{yaml,yml}": ["prettier --parser yaml --write", "git add"]
}

refactoring
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable/QTable.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add keyboard nav
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/basic/date-table.vue
  src/qComponents/QDatePicker/src/basic/month-table.vue
  src/qComponents/QDatePicker/src/basic/year-table.vue
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/focus-mixin.js
  src/qComponents/QDatePicker/src/panel/month-range.vue
  src/qComponents/QDatePicker/src/panel/year-range.vue
  src/qComponents/QDatePicker/src/styles/date-table.scss
  src/qComponents/QDatePicker/src/styles/month-table.scss
  src/qComponents/QDatePicker/src/styles/picker-panel.scss
  src/qComponents/QDatePicker/src/styles/picker.scss
  src/qComponents/QDatePicker/src/styles/year-table.scss
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QTimePicker/src/components/panel.vue
  src/qComponents/QTimePicker/src/components/time-panel.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

wip
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/focus-mixin.js
  src/qComponents/QDatePicker/src/panel/month-range.vue
  src/qComponents/QDatePicker/src/panel/year-range.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

bump v
  package.json
Due: prettier --parser json --write

fix sort arrow position, fix word-breaking
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Show eye on hovering
  src/qComponents/QInput/src/QInput.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Hide clear btn if value is empty
  src/qComponents/QCascader/QCascader.test.js
  src/qComponents/QCascader/src/QCascader.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QCascader/QCascader.test.js
  src/qComponents/QCascader/src/QCascader.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

complete nav
  src/qComponents/QDatePicker/src/basic/month-table.vue
  src/qComponents/QDatePicker/src/basic/year-table.vue
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/focus-mixin.js
  src/qComponents/QDatePicker/src/panel/focus-time-mixin.js
  src/qComponents/QDatePicker/src/panel/month-range.vue
  src/qComponents/QDatePicker/src/panel/range-mixin.js
  src/qComponents/QDatePicker/src/panel/year-range.vue
  src/qComponents/QTimePicker/src/QTimePicker.vue
  stories/components/QTimePicker.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix space between title and arrow
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix

fixes
  src/qComponents/QDatePicker/src/panel/focus-mixin.js
Due: prettier --write

add accessibility to QContextMenu
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/q-context-menu.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add error border to range
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/styles/picker.scss
  stories/components/QForm.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add zIndex
  src/qComponents/QContextMenu/src/QContextMenu.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add keyboard support
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/q-upload.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add keyboard support (#61)
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/q-upload.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

rebuild sticky columns, update selectable prop
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable/QTable.stories.js
  stories/components/QTable/Selectable.js
  stories/components/QTable/StickyColumn.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Fix background for disabled buttons
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

Add into to storybook
  stories/intro.stories.mdx
Due: none

Fix background for disabled buttons (#68)
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

Add into to storybook (#69)
  stories/intro.stories.mdx
Due: none

Update README.md
  README.md
Due: none

fix emits
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/styles/picker-panel.scss
  src/qComponents/mixins/pickers.js
  stories/components/QDatePicker/Default.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

start
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/q-upload.scss
  stories/components/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Fix color of single crumb
  src/qComponents/QBreadcrumbs/src/q-breadcrumbs.scss
Due: prettier --write, stylelint --fix

QUpload - list layout
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/q-upload.scss
  stories/components/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Fix color of single crumb (#71)
  src/qComponents/QBreadcrumbs/src/q-breadcrumbs.scss
Due: prettier --write, stylelint --fix

refactoring
  src/qComponents/QTable/src/QTable.vue
  stories/components/QTable/QTable.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  stories/components/QTable/QTable.stories.js
  stories/components/QTable/StickyColumn.js
Due: prettier --write

[QTable] Rebuild sticky columns, update selectable prop (#62)
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable/QTable.stories.js
  stories/components/QTable/Selectable.js
  stories/components/QTable/StickyColumn.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QUpload - upd
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/components/UploadFile/index.vue
  src/qComponents/QUpload/src/q-upload.scss
  stories/components/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add formatting by localization
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInputNumber/QInputNumber.test.js
  src/qComponents/QInputNumber/__snapshots__/QInputNumber.test.js.snap
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/mixins/inputs.js
  stories/components/QInputNumber.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QUpload - disabled
  src/qComponents/QUpload/src/QUpload.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QUpload - disabled
  src/qComponents/QUpload/src/components/UploadFile/index.vue
  src/qComponents/QUpload/src/q-upload.scss
  stories/components/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QUpload - refactoring
  src/qComponents/QUpload/src/QUpload.vue
  stories/components/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore
