Repository altai-ui/qui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

update collapse
  src/qComponents/QCollapse/QCollapse.test.js
  src/qComponents/QCollapse/__snapshots__/QCollapse.test.js.snap
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QCollapseItem/QCollapseItem.test.js
  src/qComponents/QCollapseItem/__snapshots__/QCollapseItem.test.js.snap
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fixes
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QCascader/src/QCascader.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add QTableRow test
  src/qComponents/QTable/QTable.test.js
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/index.js
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/QTableRow.test.js
  src/qComponents/QTable/src/components/QTableRow/__snapshots__/QTableRow.test.js.snap
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderMenu.vue
  src/qComponents/QCascader/src/QCascaderPanel.vue
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/helpers/index.js
  src/vars.scss
  stories/core/colors.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add prop wrapStyle
  src/qComponents/QMessageBox/src/QMessageBox.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add prop wrapStyle
  src/qComponents/QMessageBox/src/q-message-box.scss
Due: prettier --write, stylelint --fix

update QTag
  src/qComponents/QTag/QTag.test.js
  src/qComponents/QTag/__snapshots__/QTag.test.js.snap
  src/qComponents/QTag/index.js
  src/qComponents/QTag/src/QTag.vue
  src/qComponents/QTag/src/q-tag.scss
  stories/components/QTag.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix space flow
  src/qComponents/QRadio/QRadio.test.js
  src/qComponents/QRadio/__snapshots__/QRadio.test.js.snap
  src/qComponents/QRadio/src/QRadio.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

wip
  src/qComponents/QOption/src/q-option.scss
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Add type button
  src/qComponents/QTag/src/QTag.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

CITY-520 - fix
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/q-message-box.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix text
  src/qComponents/QTag/src/QTag.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

bump v
  package.json
  src/qComponents/QDatePicker/src/panel/mixin.js
Due: prettier --write, prettier --parser json --write

upd
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/q-message-box.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix
  src/qComponents/QMessageBox/src/QMessageBox.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix
  src/qComponents/QMessageBox/src/q-message-box.scss
Due: prettier --write, stylelint --fix

wip
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/q-option.scss
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Update README.md
  README.md
Due: none

wip
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fixs
  src/qComponents/QSelect/src/q-select-tags.scss
  src/qComponents/QTag/src/q-tag.scss
Due: prettier --write, stylelint --fix

add navigation
  src/qComponents/QCascader/src/QCascaderPanel.vue
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/q-select.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

change tab reaction
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add focus-visible polyfill & fixes
  package.json
  src/main.scss
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QDrawer/__snapshots__/QDrawer.test.js.snap
  src/qComponents/QOption/src/q-option.scss
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/index.js
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

add focus-visible polyfill to onDemand
  src/onDemand.js
  src/qComponents/QSelect/src/QSelectTags.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add null value, fix emitter, fix -
  src/qComponents/QInputNumber/src/QInputNumber.vue
  stories/components/QInputNumber.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add tests, add placeholder
  src/qComponents/QInputNumber/QInputNumber.test.js
  src/qComponents/QInputNumber/__snapshots__/QInputNumber.test.js.snap
  src/qComponents/QInputNumber/src/QInputNumber.vue
  stories/components/QInputNumber.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

start
  README.md
Due: none

refactoring
  src/qComponents/QInputNumber/QInputNumber.test.js
  src/qComponents/QInputNumber/__snapshots__/QInputNumber.test.js.snap
  src/qComponents/QInputNumber/src/QInputNumber.vue
  stories/components/QInputNumber.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix validation calls
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Fix shadow moving on show/hide animations
  src/qComponents/QMessageBox/__snapshots__/QMessageBox.test.js.snap
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/q-message-box.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add minWidth, add title overflow
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable/QTable.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Add new icons and fix chain icon
  src/icons/index.scss
  src/icons/qicon.woff
  src/icons/svg/cart.svg
  src/icons/svg/house-stroke.svg
  src/icons/svg/info-fill.svg
  src/icons/svg/key.svg
  src/icons/svg/phone-settings-stroke.svg
  stories/core/icons.stories.mdx
Due: prettier --write, stylelint --fix

refactoring
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser vue --write: any of: *.vue
  eslint --fix --no-ignore: any of: *.vue
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
