Repository altai-ui/qui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

update QDialog
  README.md
  src/qComponents/QDialog/QDialog.test.js
  src/qComponents/QDialog/__snapshots__/QDialog.test.js.snap
  src/qComponents/QDialog/src/QDialog.js
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QMessageBox/__snapshots__/QMessageBox.test.js.snap
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/index.js
  stories/components/QPopover.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

wip
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderMenu.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix loader pos in qtable while scrolling
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

remove thead if there are no values in columns
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

upd QDrawer
  src/qComponents/QDrawer/QDrawer.test.js
  src/qComponents/QDrawer/__snapshots__/QDrawer.test.js.snap
  src/qComponents/QDrawer/index.js
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/q-drawer.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add moe accesibility
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderMenu.vue
  stories/components/QCascader.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add some tests
  src/qComponents/QTable/QTable.test.js
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
Due: prettier --write

refactoring
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix loader pos in qtable while scrolling (#35)
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Upd QColorPicker
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QColorPicker/QColorAlphaSlider.test.js
  src/qComponents/QColorPicker/QColorHueSlider.test.js
  src/qComponents/QColorPicker/QColorPicker.test.js
  src/qComponents/QColorPicker/QColorSvpanel.test.js
  src/qComponents/QColorPicker/QPickerDropdown.test.js
  src/qComponents/QColorPicker/__snapshots__/QColorAlphaSlider.test.js.snap
  src/qComponents/QColorPicker/__snapshots__/QColorHueSlider.test.js.snap
  src/qComponents/QColorPicker/__snapshots__/QColorPicker.test.js.snap
  src/qComponents/QColorPicker/__snapshots__/QColorSvpanel.test.js.snap
  src/qComponents/QColorPicker/__snapshots__/QPickerDropdown.test.js.snap
  src/qComponents/QColorPicker/index.js
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/q-picker-dropdown.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

rename
  src/qComponents/QDialog/__snapshots__/QDialog.test.js.snap
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/__snapshots__/QDrawer.test.js.snap
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QMessageBox/__snapshots__/QMessageBox.test.js.snap
  src/qComponents/QMessageBox/src/QMessageBox.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Fix focus accessibility on window-like components (#34)
  .eslintrc
  README.md
  src/qComponents/QDialog/QDialog.test.js
  src/qComponents/QDialog/__snapshots__/QDialog.test.js.snap
  src/qComponents/QDialog/src/QDialog.js
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/QDrawer.test.js
  src/qComponents/QDrawer/__snapshots__/QDrawer.test.js.snap
  src/qComponents/QDrawer/index.js
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/q-drawer.scss
  src/qComponents/QMessageBox/QMessageBox.test.js
  src/qComponents/QMessageBox/__snapshots__/QMessageBox.test.js.snap
  src/qComponents/QMessageBox/src/QMessageBox.js
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/index.js
  stories/components/QPopover.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

rename
  src/qComponents/QColorPicker/__snapshots__/QPickerDropdown.test.js.snap
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add size small for theme link
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

done
  src/qComponents/QMessageBox/src/QMessageBox.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QMessageBox/src/QMessageBox.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

upd Layout
  src/qComponents/QCol/QCol.test.js
  src/qComponents/QCol/__snapshots__/QCol.test.js.snap
  src/qComponents/QRow/QRow.test.js
  src/qComponents/QRow/__snapshots__/QRow.test.js.snap
  stories/components/Layout/Layout.stories.js
  stories/components/Layout/QCol.stories.js
  stories/components/Layout/QRow.stories.js
  stories/components/Layout/layout.scss
Due: prettier --write, stylelint --fix

fix
  stories/components/Layout/Layout.stories.js
Due: prettier --write

[QTable] Remove thead if there are no values in columns (#37)
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

upd
  src/qComponents/QTabPane/QTabPane.test.js
  src/qComponents/QTabPane/__snapshots__/QTabPane.test.js.snap
  src/qComponents/QTabPane/src/QTabPane.vue
  src/qComponents/QTabPane/src/q-tab-pane.scss
  src/qComponents/QTabs/QTabs.test.js
  src/qComponents/QTabs/__snapshots__/QTabs.test.js.snap
  src/qComponents/QTabs/src/QTabs.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refact
  src/qComponents/QTabPane/index.js
  src/qComponents/QTabs/index.js
Due: prettier --write

eslint errors fix
  src/qComponents/QTextarea/src/calcTextareaHeight.js
Due: prettier --write

add navigation
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderMenu.vue
  src/qComponents/QCascader/src/QCascaderPanel.vue
  src/qComponents/QCascader/src/q-cascader-menu.scss
  src/qComponents/QCheckbox/src/QCheckbox.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[Layout] Add story with gutter (#40)
  src/qComponents/QCol/QCol.test.js
  src/qComponents/QCol/__snapshots__/QCol.test.js.snap
  src/qComponents/QRow/QRow.test.js
  src/qComponents/QRow/__snapshots__/QRow.test.js.snap
  stories/components/Layout/Layout.stories.js
  stories/components/Layout/QCol.stories.js
  stories/components/Layout/QRow.stories.js
  stories/components/Layout/layout.scss
Due: prettier --write, stylelint --fix

[QColorPicker] Add focus accessibility (#38)
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QColorPicker/QColorAlphaSlider.test.js
  src/qComponents/QColorPicker/QColorHueSlider.test.js
  src/qComponents/QColorPicker/QColorPicker.test.js
  src/qComponents/QColorPicker/QColorSvpanel.test.js
  src/qComponents/QColorPicker/QPickerDropdown.test.js
  src/qComponents/QColorPicker/__snapshots__/QColorAlphaSlider.test.js.snap
  src/qComponents/QColorPicker/__snapshots__/QColorHueSlider.test.js.snap
  src/qComponents/QColorPicker/__snapshots__/QColorPicker.test.js.snap
  src/qComponents/QColorPicker/__snapshots__/QColorSvpanel.test.js.snap
  src/qComponents/QColorPicker/__snapshots__/QPickerDropdown.test.js.snap
  src/qComponents/QColorPicker/index.js
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/q-picker-dropdown.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

upd QRadio and QRadioGroup
  src/qComponents/QRadio/QRadio.test.js
  src/qComponents/QRadio/__snapshots__/QRadio.test.js.snap
  src/qComponents/QRadio/index.js
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadioGroup/QRadioGroup.test.js
  src/qComponents/QRadioGroup/__snapshots__/QRadioGroup.test.js.snap
  src/qComponents/QRadioGroup/index.js
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix focus styles
  src/qComponents/QTabPane/src/q-tab-pane.scss
Due: prettier --write, stylelint --fix

fix by comment
  src/qComponents/QMessageBox/src/QMessageBox.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QTabs, QTabPane] Fix focus state + refactoring (#41)
  src/qComponents/QTabPane/QTabPane.test.js
  src/qComponents/QTabPane/__snapshots__/QTabPane.test.js.snap
  src/qComponents/QTabPane/index.js
  src/qComponents/QTabPane/src/QTabPane.vue
  src/qComponents/QTabPane/src/q-tab-pane.scss
  src/qComponents/QTabs/QTabs.test.js
  src/qComponents/QTabs/__snapshots__/QTabs.test.js.snap
  src/qComponents/QTabs/index.js
  src/qComponents/QTabs/src/QTabs.vue
  src/qComponents/QTextarea/src/calcTextareaHeight.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

move classes to computed
  src/qComponents/QRadio/src/QRadio.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add some test
  src/qComponents/QTable/QTable.test.js
  src/qComponents/QTable/src/QTable.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QMessageBox] Add prop (#39)
  src/qComponents/QMessageBox/src/QMessageBox.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser vue --write: any of: *.vue
  eslint --fix --no-ignore: any of: *.vue
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
