Repository altai-ui/qui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.scss": ["stylelint --fix", "prettier --write", "git add"],
  "*.vue": [
    "stylelint --fix",
    "prettier --parser vue --write",
    "eslint --fix --no-ignore",
    "git add"
  ],
  "{*.json,.*rc}": ["prettier --parser json --write", "git add"],
  "*.{yaml,yml}": ["prettier --parser yaml --write", "git add"]
}

add prop title
  src/qComponents/QTag/src/QTag.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

change title
  src/qComponents/QTag/src/QTag.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

delete prop's desc
  src/qComponents/QTag/src/QTag.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix when cell larger than maxWidth prop
  src/qComponents/QTable/src/components/QTableRow/index.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix
  src/qComponents/QSelect/src/q-select-tags.scss
  src/qComponents/QTag/src/q-tag.scss
  stories/components/QSelect/Default.js
  stories/components/QSelect/Multiple.js
Due: prettier --write, stylelint --fix

[QSelect] fix tags disposition (#29)
  src/qComponents/QSelect/src/q-select-tags.scss
  src/qComponents/QTag/src/q-tag.scss
  stories/components/QSelect/Default.js
  stories/components/QSelect/Multiple.js
Due: prettier --write, stylelint --fix

add fixed table
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

change tables height on window resize
  src/qComponents/QTable/src/QTable.vue
  stories/components/QTable.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  stories/components/QTable.stories.js
Due: prettier --write

add ability to set colors to delimited cols
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add groups
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  stories/components/QTable.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add stories
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable.stories.js
  stories/components/QTable/CustomRows.js
  stories/components/QTable/CustomWidth.js
  stories/components/QTable/Default.js
  stories/components/QTable/Draggable.js
  stories/components/QTable/Groups.js
  stories/components/QTable/QTable.stories.js
  stories/components/QTable/Selectable.js
  stories/components/QTable/StickyColumn.js
  stories/components/QTable/Total.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring updated row
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  stories/components/QTable.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring updated row
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  stories/components/QTable/Default.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  src/qComponents/QTable/src/hocs/withQTableRow/index.js
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable/Default.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  src/qComponents/QTable/src/hocs/withQTableRow/index.js
  stories/components/QTable/Default.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QTable] change api (#30)
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/components/QTableRow/index.vue
  src/qComponents/QTable/src/hocs/withQTableRow/index.js
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable.stories.js
  stories/components/QTable/CustomRows.js
  stories/components/QTable/CustomWidth.js
  stories/components/QTable/Default.js
  stories/components/QTable/Draggable.js
  stories/components/QTable/Groups.js
  stories/components/QTable/QTable.stories.js
  stories/components/QTable/Selectable.js
  stories/components/QTable/StickyColumn.js
  stories/components/QTable/Total.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

bump v
  package.json
Due: prettier --parser json --write

start test
  src/qComponents/QPopover/QPopover.test.js
  src/qComponents/QPopover/__snapshots__/QPopover.test.js.snap
Due: prettier --write

start
  src/qComponents/QPopover/QPopover.test.js
Due: prettier --write

fix QTable test
  src/qComponents/QPopover/__snapshots__/QPopover.test.js.snap
  tests/unit/QTable.test.js
  tests/unit/__snapshots__/QTable.test.js.snap
Due: prettier --write

add test
  src/qComponents/QPopover/QPopover.test.js
Due: prettier --write

testing
  src/qComponents/QPopover/QPopover.test.js
  src/qComponents/QTable/QTable.test.js
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  tests/unit/setup.js
Due: prettier --write

fix
  src/qComponents/QPopover/QPopover.test.js
Due: prettier --write

[QPopover] add test (#32)
  src/qComponents/QPopover/QPopover.test.js
  src/qComponents/QPopover/__snapshots__/QPopover.test.js.snap
  src/qComponents/QTable/QTable.test.js
  src/qComponents/QTable/__snapshots__/QTable.test.js.snap
  tests/unit/QTable.test.js
  tests/unit/setup.js
Due: prettier --write

add tests for QBreadcrumbs & QButton
  jest.config.js
  src/qComponents/QBreadcrumbs/QBreadcrumbs.test.js
  src/qComponents/QBreadcrumbs/__snapshots__/QBreadcrumbs.test.js.snap
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/q-breadcrumbs.scss
  src/qComponents/QButton/QButton.test.js
  src/qComponents/QButton/__snapshots__/QButton.test.js.snap
  src/qComponents/QCascader/QCascader.test.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Update README.md
  README.md
Due: none

add tests for QCascader
  src/qComponents/QBreadcrumbs/QBreadcrumbs.test.js
  src/qComponents/QCascader/QCascader.test.js
  src/qComponents/QCascader/__snapshots__/QCascader.test.js.snap
  stories/components/QCascader.stories.js
  tests/unit/setup.js
Due: prettier --write

add method
  src/qComponents/QUpload/src/QUpload.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix localization in QDatepicker
  .storybook/preview.js
  jest.config.js
  src/qComponents/QCascader/QCascader.test.js
  src/qComponents/QCascader/__snapshots__/QCascader.test.js.snap
  src/qComponents/QDatePicker/src/panel/mixin.js
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/index.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add tests to commit hook
  .lintstagedrc
Due: prettier --parser json --write

add tests to commit hook
  .lintstagedrc
  package.json
Due: prettier --parser json --write

change jest config
  jest.config.js
Due: prettier --write

fixes
  src/qComponents/QBreadcrumbs/src/q-breadcrumbs.scss
  src/qComponents/QButton/QButton.test.js
  src/qComponents/QCascader/QCascader.test.js
  src/qComponents/QCascader/__snapshots__/QCascader.test.js.snap
Due: prettier --write, stylelint --fix

Unit tests & fixes (#33)
  .storybook/preview.js
  jest.config.js
  package.json
  src/qComponents/QBreadcrumbs/QBreadcrumbs.test.js
  src/qComponents/QBreadcrumbs/__snapshots__/QBreadcrumbs.test.js.snap
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/q-breadcrumbs.scss
  src/qComponents/QButton/QButton.test.js
  src/qComponents/QButton/__snapshots__/QButton.test.js.snap
  src/qComponents/QCascader/QCascader.test.js
  src/qComponents/QCascader/__snapshots__/QCascader.test.js.snap
  src/qComponents/QDatePicker/src/panel/mixin.js
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/index.js
  stories/components/QCascader.stories.js
  tests/unit/setup.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

add navigation for QCascader
  src/qComponents/QBreadcrumbs/src/q-breadcrumbs.scss
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderMenu.vue
  src/qComponents/QCascader/src/q-cascader-menu.scss
  src/vars.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

update QMessageBox
  .eslintrc
  README.md
  src/qComponents/QMessageBox/QMessageBox.test.js
  src/qComponents/QMessageBox/__snapshots__/QMessageBox.test.js.snap
  src/qComponents/QMessageBox/src/QMessageBox.js
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/index.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write
