Repository altai-ui/qui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

Check dialog ref exist in handleDocumentFocus
  src/qComponents/QDialog/src/QDialog.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Fix input placeholder in chrome
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

Fix input placeholder in chrome (#74)
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

Check dialog ref exist in handleDocumentFocus (#73)
  src/qComponents/QDialog/src/QDialog.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

bump v
  package.json
Due: prettier --parser json --write

Fix calcFirstDayOfWeek in QDatePicker
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QTable] Fix error if table hasn't children
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QUpload - update
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/components/UploadFile/index.vue
  src/qComponents/QUpload/src/q-upload.scss
  src/qComponents/constants/locales/en.js
  src/qComponents/constants/locales/ru.js
  stories/components/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QUpload - update
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/components/UploadFile/index.vue
  stories/components/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Fix calcFirstDayOfWeek in QDatePicker (#75)
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QTable] Fix error if table hasn't children (#76)
  src/qComponents/QTable/src/QTable.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QInputNumber/QInputNumber.test.js
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/mixins/inputs.js
  stories/components/QInputNumber.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Update single upload
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/q-upload.scss
  stories/components/QUpload/Default.js
  stories/components/QUpload/Multiple.js
  stories/components/QUpload/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

component decomposition
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone.vue
  src/qComponents/QUpload/src/QUploadFileSingle.vue
  src/qComponents/QUpload/src/q-upload-drop-zone.scss
  src/qComponents/QUpload/src/q-upload-file.scss
  src/qComponents/QUpload/src/q-upload.scss
  stories/components/QUpload/Default.js
  stories/components/QUpload/Multiple.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Add QUploadFileMultiple
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone.vue
  src/qComponents/QUpload/src/QUploadFileMultiple.vue
  src/qComponents/QUpload/src/QUploadFileSingle.vue
  src/qComponents/QUpload/src/q-upload-drop-zone.scss
  src/qComponents/QUpload/src/q-upload-file-multiple.scss
  src/qComponents/QUpload/src/q-upload-file-single.scss
  src/qComponents/QUpload/src/q-upload.scss
  src/qComponents/constants/locales/en.js
  src/qComponents/constants/locales/ru.js
  stories/components/QUpload/Multiple.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refact
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadFileMultiple.vue
  src/qComponents/QUpload/src/q-upload-drop-zone.scss
  src/qComponents/QUpload/src/q-upload-file-multiple.scss
  src/qComponents/QUpload/src/q-upload.scss
  stories/components/QUpload/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

remove async
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix fileName
  src/qComponents/QUpload/src/QUploadFileSingle.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix name
  src/qComponents/QUpload/src/q-upload-file-multiple.scss
Due: prettier --write, stylelint --fix

fix margin
  src/qComponents/QUpload/src/q-upload-file-multiple.scss
Due: prettier --write, stylelint --fix

disable multiple in sb contols
  stories/components/QUpload/QUpload.stories.js
Due: prettier --write

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
  stories/components/QInputNumber.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QUpload] Upgrade single and add multiple (#77)
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone.vue
  src/qComponents/QUpload/src/QUploadFileMultiple.vue
  src/qComponents/QUpload/src/QUploadFileSingle.vue
  src/qComponents/QUpload/src/q-upload-drop-zone.scss
  src/qComponents/QUpload/src/q-upload-file-multiple.scss
  src/qComponents/QUpload/src/q-upload-file-single.scss
  src/qComponents/QUpload/src/q-upload.scss
  src/qComponents/constants/locales/en.js
  src/qComponents/constants/locales/ru.js
  stories/components/QUpload.stories.js
  stories/components/QUpload/Default.js
  stories/components/QUpload/Multiple.js
  stories/components/QUpload/QUpload.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Update README.md
  README.md
Due: none

refactoring
  src/qComponents/QInputNumber/QInputNumber.test.js
  src/qComponents/QInputNumber/__snapshots__/QInputNumber.test.js.snap
  src/qComponents/QInputNumber/src/QInputNumber.vue
  stories/components/QInputNumber.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring by comments
  src/qComponents/QInputNumber/QInputNumber.test.js
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refactoring by comments
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

QBreadcrumbs - add props linkComponent
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add range-selector
  src/qComponents/QRangeSelector/index.js
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton.vue
  src/qComponents/QRangeSelector/src/q-range-selector.scss
  src/qComponents/index.js
  stories/components/QRangeSelector.stories.js
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add vertical orientation
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton.vue
  src/qComponents/QRangeSelector/src/q-range-selector.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add dragging
  src/qComponents/QRangeSelector/src/QRangeSelector.vue
  src/qComponents/QRangeSelector/src/components/RangeSelectorButton.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser vue --write: any of: *.vue
  eslint --fix --no-ignore: any of: *.vue
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
